<a href="https://colab.research.google.com/github/Olabama14/skills-introduction-to-github/blob/main/Assignment%209.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
os.listdir()

# Data Concatenation (Stacking)
import pandas as pd

sales_data1 = pd.read_csv('sales_data1_homework.csv')
sales_data2 = pd.read_csv('sales_data2_homework.csv')

combined_sales_data = pd.concat([sales_data1, sales_data2])
print(combined_sales_data)

   OrderID  CustomerID  ProductID  Quantity   OrderDate
0     1011          11        111         4  11/08/2024
1     1012          12        112         3  12/08/2024
2     1013          13        113         2  13/08/2024
3     1014          14        114         6  14/08/2024
4     1015          15        115         1  15/08/2024
0     1016          16        116         5  16/08/2024
1     1017          17        117         2  17/08/2024
2     1018          18        118         4  18/08/2024
3     1019          19        119         3  19/08/2024
4     1020          20        120         7  20/08/2024

In [2]:
# Merging/Joining

customer_data = pd.read_csv('customer_data_homework.csv')
merged_data = pd.merge(combined_sales_data, customer_data, on='CustomerID', how='inner')

print(merged_data)

   OrderID  CustomerID  ProductID  Quantity   OrderDate   CustomerName  \
0     1011          11        111         4  11/08/2024     Alice Blue
1     1012          12        112         3  12/08/2024      Bob Green
2     1013          13        113         2  13/08/2024      Clara Red
3     1014          14        114         6  14/08/2024  Daniel Yellow
4     1015          15        115         1  15/08/2024      Eve Brown
5     1016          16        116         5  16/08/2024   Frank Purple
6     1017          17        117         2  17/08/2024     Gina White
7     1018          18        118         4  18/08/2024    Henry Black
8     1019          19        119         3  19/08/2024       Ivy Pink
9     1020          20        120         7  20/08/2024      Jack Grey

  ContactName    Country
0       Alice        USA
1         Bob     Canada
2       Clara        USA
3      Daniel         UK
4         Eve  Australia
5       Frank        USA
6        Gina     Canada
7       Henry        USA
8         Ivy         UK
9        Jack  Australia

In [3]:
# Database Join (with SQLite)
import sqlite3

conn = sqlite3.connect('retail_data.db')

combined_sales_data.to_sql('sales', conn, index=False, if_exists='replace')
inventory_data = pd.read_csv('inventory_data_homework.csv')
inventory_data.to_sql('inventory', conn, index=False, if_exists='replace')

query = """
  SELECT sales.*, inventory.ProductName, inventory.Stocklevel
  FROM sales
  JOIN inventory ON sales.ProductID = inventory.ProductID
"""

merged_db_data = pd.read_sql_query(query, conn)
print(f"\nThis is the merged data: \n{merged_db_data.head()}")

This is the merged data:
   OrderID  CustomerID  ProductID  Quantity   OrderDate ProductName  \
0     1011          11        111         4  11/08/2024    Widget F
1     1012          12        112         3  12/08/2024    Widget G
2     1013          13        113         2  13/08/2024    Widget H
3     1014          14        114         6  14/08/2024    Widget I
4     1015          15        115         1  15/08/2024    Widget J

   StockLevel
0          40
1          25
2         130
3          65
4         180

In [4]:
# API Integration
# Simulate API data fetching and combine the results with existing datasets.
import requests

api_data1 = pd.read_json('api_data1_homework.json')
api_data2 = pd.read_json('api_data2_homework.json')

combined_api_data = pd.concat([api_data1, api_data2])

print(f"\nHere is returning the combined API data: \n{combined_api_data.head()}")

Here is returning the combined API data:
   ProductID ProductName  Price
0        111    Widget F     27
1        112    Widget G     37
2        113    Widget H     47
3        114    Widget I     57
4        115    Widget J     67