<a href="https://colab.research.google.com/github/Olabama14/skills-introduction-to-github/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
os.listdir()

# Data Concatenation (Stacking)
import pandas as pd

sales_data1 = pd.read_csv('sales_data1_homework.csv')
sales_data2 = pd.read_csv('sales_data2_homework.csv')

combined_sales_data = pd.concat([sales_data1, sales_data2])
print(combined_sales_data)

   OrderID  CustomerID  ProductID  Quantity   OrderDate
0     1011          11        111         4  11/08/2024
1     1012          12        112         3  12/08/2024
2     1013          13        113         2  13/08/2024
3     1014          14        114         6  14/08/2024
4     1015          15        115         1  15/08/2024
0     1016          16        116         5  16/08/2024
1     1017          17        117         2  17/08/2024
2     1018          18        118         4  18/08/2024
3     1019          19        119         3  19/08/2024
4     1020          20        120         7  20/08/2024

In [2]:
# Merging/Joining

customer_data = pd.read_csv('customer_data_homework.csv')
merged_data = pd.merge(combined_sales_data, customer_data, on='CustomerID', how='inner')

print(merged_data)

   OrderID  CustomerID  ProductID  Quantity   OrderDate   CustomerName  \
0     1011          11        111         4  11/08/2024     Alice Blue
1     1012          12        112         3  12/08/2024      Bob Green
2     1013          13        113         2  13/08/2024      Clara Red
3     1014          14        114         6  14/08/2024  Daniel Yellow
4     1015          15        115         1  15/08/2024      Eve Brown
5     1016          16        116         5  16/08/2024   Frank Purple
6     1017          17        117         2  17/08/2024     Gina White
7     1018          18        118         4  18/08/2024    Henry Black
8     1019          19        119         3  19/08/2024       Ivy Pink
9     1020          20        120         7  20/08/2024      Jack Grey

  ContactName    Country
0       Alice        USA
1         Bob     Canada
2       Clara        USA
3      Daniel         UK
4         Eve  Australia
5       Frank        USA
6        Gina     Canada
7       Henry        USA
8         Ivy         UK
9        Jack  Australia